body{
margin:0;
font-family:-apple-system, BlinkMacSystemFont, "SF Pro Display", Arial;
background:linear-gradient(135deg,#f9f9fa,#dfe2e5);
color:#161616;
}

.screen{
display:none;
padding:25px;
text-align:center;
}

.screen.active{
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
}

.card{
background:rgba(17, 17, 17, 0.6);
backdrop-filter:blur(12px);
padding:18px;
border-radius:20px;
width:250px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
border:1px solid rgba(255,255,255,0.4);
}

.card:hover{
transform:translateY(-5px);
}

input,button{
width:220px;
padding:14px;
border-radius:14px;
border:none;
outline:none;
}

input{
background:rgba(255,255,255,0.08);
color:#fff;
}

button{
padding:14px;
border:none;
border-radius:16px;
width:220px;

background:linear-gradient(135deg,#6366f1,#a5b4fc);
color:white;

font-weight:600;
font-size:15px;

cursor:pointer;
transition:0.25s;
box-shadow:0 8px 20px rgba(99,102,241,0.3);
}

button:hover{
transform:translateY(-2px);
}

button:active{
transform:scale(0.96);
}

/* أزرار ثانوية */
.secondary{
background:#262627;
color:#1e293b;
box-shadow:none;
}

.bar{
width:220px;
height:10px;
background:#1c1e20;
border-radius:20px;
overflow:hidden;
margin-top:10px;
}

#barFill{
height:100%;
width:40%;
background:linear-gradient(90deg,#6366f1,#22c55e);
transition:0.4s;
}

h2{
font-weight:800;
letter-spacing:0.5px;
color:#0f0f0f;  
}
#aiTip{
font-size:14px;
opacity:0.85;
margin-top:10px;
}

.nav{
position:fixed;
bottom:15px;
left:50%;
transform:translateX(-50%);
background:rgba(0,0,0,0.4);
backdrop-filter: blur(15px);
padding:10px;
border-radius:20px;
display:flex;
gap:10px;
}

.nav button{
width:40px;
padding:10px;
border-radius:12px;
background:transparent;
}

.level-btn{
border-radius:20px;
font-weight:bold;
}

.easy{
background:linear-gradient(135deg,#22c55e,#86efac);
}

.medium{
background:linear-gradient(135deg,#f59e0b,#fcd34d);
}

.hard{
background:linear-gradient(135deg,#ef4444,#fca5a5);
}